/* GLOBAL STYLES */

body {
    font-family: Roboto, sans-serif;
    background: #191919;
    padding-top: 1em;
    color: #FFFFFF;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

#langues{
    text-align: right;
    padding-right: 50px;
}

#langues img{
    margin-left: 5px;
}


/* ---- Variables --- */
.col_purple {
    color: #9543C8;
}

.col_blue_light {
    color: #9f8ac3;
}

.rondInfo {
    background-color: rgba(138,138,138,0.5);
    width: 15px;
    height: 15px;
    border-radius: 20px;
}

.rondInfo p{
    font-size: 11px;
    margin: auto;
}


.carte {
    width: 105px;
    height: 105px;
    background-color: #CCCCCC;
    opacity: 0.38;
    border-radius: 9px;
}

.carte:hover{
    opacity: 0.6;
}

.carte img{
    margin: auto;
    display: block;
    padding: 20%;
}

h2{
    font-size: 24px;
}


/* ------- Présentation -------- */
h1 {
    color: #FFFFFF;
    font-size: 64px;
    margin-bottom: 0;
    margin-top: 25px;
}

#p_apprenti {
    font-size: 24px;
    color: #AB9D9D;
    margin-top: 10px;
}

#div_pres_ag {
    width: 100%;
    text-align: center;
    display: block;
    margin-bottom: 60px;
}

#div_pres_info {
    color: #FFFFFF;
    display: block;
    font-size: 36px;
    margin-top: auto;
    margin-bottom: auto;
}

#div_pres_info p {
    margin-bottom: 20px;
    margin-top: 20px;
}

#div_pres_pic{
    margin-left: 11em;
    margin-right: 4em;
}

#div_pres_pic img {
    border-radius: 192px;
}

#div_pres {
    display: flex;
    margin-bottom: 100px;
    margin-right: auto;
    margin-left: auto;
}

#div_pres_liens{
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 100px;
}

#div_pres_liens div:first-child{
    margin-bottom: 20px;
}

/* ----- Projets ----- */

.proj_titre{
    text-align: center;
    margin-bottom: 30px;
}

.proj_titre .rondInfo{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    display: inline-block;
    vertical-align: text-top;
}

.proj_titre h2{
    display: inline-block;
}

.info_carte{
    display: block !important;
}

.info_carte div, .info_carte p{
    display: inline-block;
}

#div_proj{
    margin-bottom: 150px;
}

.div_proj_cartes{
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    margin-bottom: 70px;
}

.div_proj_cartes div div.carte{
    display: inline-block;
    margin-right: 38px;
    vertical-align: top;
    text-align: center;
}

.div_proj_cartes div{
    display: inline-block;
    margin-right: 38px;

}

.div_proj_cartes div p{
    margin-top: 0;
}

.div_proj_cartes div:last-child, .div_proj_cartes div.carte{
    margin-right: 0;
}

/* ----- Heures ----- */
.div_heures_ligne div p:first-child{
    font-size: 24px;
    color: #9543C8;
}

.div_heures_ligne div p:last-child{
    font-size: 64px;
    color: #D88A52;
}

.div_heures_ligne{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.div_heures_ligne div{
    text-align: center;
    width: 33%;
}

.div_heures_ligne div:first-child{
    padding-left: 20%;
}

.div_heures_ligne div:last-child{
    padding-right: 20%;
}

.div_heures_ligne div p{
    margin-top: 0;
}

#div_heures{
    margin-bottom: 60px;
}

/* --- Compétences ----- */
#div_compet img{
    width: 25px;
    display: inline-block;
}

#div_compet p {
    display: inline-block;
    font-size: 1.5em;
    margin-right: 1em;
    text-align: left;
}

#div_compet div {
    display: inline-block;
    text-align: right;
}

#div_compet {
    margin-left: 4%;
    margin-right: 10%;
    width: 70%;
    display: grid;
    grid-template-columns: 40% 40% 40%;
    margin-bottom: 120px;
}

/* ---- Contact ---- */
#div_contact{
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
}

#div_contact a{
    text-decoration: none;
    font-size: 1.5em;
}

footer p, footer img{
    font-size: 13px;
    color: #CDCDCD;
    margin-top: 0;
    margin-bottom: 5px;
    margin-left: 15%;
}

/* ----- footer ----- */
footer{
    margin-bottom: 50px;
}

/* --------- tooltip text -------- */

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #FFFFFF;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltiptexttop {
    bottom: 150%;
    left: 50%;
    margin-left: -125px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip p{
    vertical-align: top;
    font-size: 0.8em;
}


/* Responsive */

@media only screen and (max-width: 1000px) {
    #langues {
        text-align: center;
        padding: 0;
    }

    #div_pres {
        display: block;
        text-align: center;
    }

    #div_pres_pic {
        margin: 0;
    }

    #div_pres_liens {
        display: inline-block;
        padding: 0;
    }

    #div_pres_liens div.carte {
        display: inline-block;
        margin-bottom: 0;
    }

    #div_pres_liens div:first-child {
        margin-right: 10px;
    }

    #div_pres_liens div:last-child {
        margin-left: 10px;
    }

    .div_proj_cartes {
        width: 80%;
    }

    .div_proj_cartes div {
        margin-right: 0;
    }

    .div_proj_cartes div {
        margin-bottom: 0px;
    }

    #div_contact {
        margin-bottom: 30px;
    }

    #langues {
        margin-top: 20px;
    }

    #div_proj {
        margin-bottom: 0;
    }

    .div_heures_ligne div:first-child {
        padding-left: 0;
    }

    .div_heures_ligne div:last-child {
        padding-right: 0;
    }

    .div_heures_ligne div p:last-child {
        font-size: 34px;
    }

    .div_heures_ligne div p:first-child {
        font-size: 14px;
    }

    #div_pres_info {
        font-size: 26px;
    }

    #div_pres_pic img {
        width: 320px;
    }

    div.rondInfo span:not(.div_proj_cartes div:first-child div.info_carte span, .div_proj_cartes div:nth-child(3) div.info_carte span) {
        bottom: 150%;
        left: 50%;
        margin-left: -225px;
        border-color: transparent !important;
    }

    footer img, footer p {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        display: block;
    }

    .div_proj_cartes div div.carte {
        margin-right: 11px;
    }

    .container {
        padding-right: 30px;
        margin-bottom: 30px !important;
    }

    .col_purple p {
        margin-bottom: 10px;
    }

    #div_compet div{
        text-align: right;
        width: 100%;
        display: block;
    }

    #div_compet div p {
        font-size: 1em;
    }

    #div_compet div img {
        width: 20px;
    }

    #div_compet {
        width: 70%;
        display: grid;
        grid-template-columns: 100%;
        margin-bottom: 80px;
    }

}
